body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.userName {
    font-weight: bold;
}

.date {
    font-weight: bold;
}

.messages {
   overflow: hidden;
   padding-bottom: 20px;
   max-height:500px;
}
